{% extends 'layouts/general_layout.html' %}

{% block content %}
<div class="max-w-3xl mx-auto p-6">
    <h1 class="text-2xl text-center text-[#2a4236] font-spectral font-medium mb-6">Crear Nuevo Post</h1>

    <form method="POST" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        <div class="flex flex-col text-lg text-[#2a4236] font-spectral gap-4">

            <div>
                <label for="{{ form.title.id_for_label }}" class="block mb-2">Título:</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <div>
                <label for="{{ form.content.id_for_label }}" class="block mb-2">Contenido:</label>
                {{ form.content }}
                {{ form.content.errors }}
            </div>

            <div class="flex items-center gap-3">
                <label for="{{ form.allow_comments.id_for_label }}">¿Permitir comentarios?</label>
                {{ form.allow_comments }}
                {{ form.allow_comments.errors }}
            </div>

            <div>
                <label for="id_image" class="cursor-pointer bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded inline-block">
                    Seleccionar Imagen
                </label>
                {{ form.image }}
                {{ form.image.errors }}
                <span id="file-name" class="ml-3 text-sm text-gray-600">Ningún archivo seleccionado.</span>
            </div>
        </div>

        <div class="flex justify-center mt-8">
            <button type="submit" class="w-auto px-10 py-2 bg-[#f7e4bd] justify-center font-spectral hover:bg-lime-950 hover:text-[#f7e4bd] text-gray-950 font-medium rounded-md shadow-sm">
                Crear Post
            </button>
        </div>
    </form>
</div>
{#muestra el nombre de la imagen seleccionada#}
<script>  
    document.getElementById('id_image').addEventListener('change', function() {
        var fileName = this.files[0] ? this.files[0].name : 'Ningún archivo seleccionado.';
        document.getElementById('file-name').textContent = fileName;
    });
</script>

{% endblock %}