{% extends 'layouts/post_layout.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<main class="max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-2xl font-libertinus-bold mb-6">Editar artículo</h1>

  <form method="post" enctype="multipart/form-data" class="space-y-6 bg-white p-6 rounded-lg shadow">
    {% csrf_token %}

    {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
          {{ field.label }}{% if field.field.required %} *{% endif %}
        </label>

        {{ field|add_class:"mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-[#F6F2E6] focus:border-[#F6F2E6]"}}

       
        {% if field.help_text %}
          <p class="text-sm text-gray-500">{{ field.help_text }}</p>
        {% endif %}
        {% for error in field.errors %}
          <p class="mt-1 text-sm text-red-600">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="flex items-center font-libertinus-bold justify-end space-x-4 pt-4 border-t">
      <a href="{% url 'post:post_detail' post.slug %}" 
         class="text-[#445e35] hover:text-[#203329] hover:text-xl">
        Cancelar
      </a>
      <button type="submit"
              class="border-2 border-white rounded-full bg-[#F6F2E6] text-[#203329] font-spectral font-bold py-3 px-6 hover:bg-[#203329] hover:text-[#F6F2E6] transition duration-300">
        Guardar cambios
      </button>
    </div>
  </form>
</main>
{% endblock content %}