{%load static %}

{% block content%}
<footer class="bg-[#F6F2E6] bg-cover flex-col align-bottom pt-10 h-auto">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-between">
            <div class="w-full lg:w-1/3 xl:w-1/3 p-2">
                <h5 class="text-lg text-[#203329] font-libertinus-bold text-center mb-4">IKIGAI - ESTILO DE VIDA</h5>
                <p class="font-tangerine-bold text-2xl text-center text-[#445e35]">Descubre tu propósito en la vida <br> rejuvenece tu espíritu.</p>
            </div>
            <div class="w-full flex flex-col lg:w-1/3 xl:w-1/3 p-2">
                <h5 class="text-lg text-[#203329] font-libertinus-bold mb-4">REDES SOCIALES</h5>
                <ul class="list-none"> 
                    <li class="mb-2 align-center flex flex-row"><img src = "{% static 'assets/svg/facebook.svg' alt='Facebook'%}" class="w-5 h-5 mr-1"><a href= # class="text-[#445e35] text-lg font-libertinus-regular hover:text-gray-900 hover:text-xl hover:font-bold transition duration-500">Facebook</a>    
                    </li>
                    <li class="mb-2 align-center flex flex-row"><img src = "{% static 'assets/svg/instagram.svg' alt='Instagram'%}" class="w-5 h-5 mr-1"><a href=# class="text-[#445e35] text-lg font-libertinus-regular hover:text-gray-900 hover:text-xl hover:font-bold transition duration-500">Instagram</a>
                    </li>
                    <li class="mb-2 align-center flex flex-row"><img src = "{% static 'assets/svg/pinterest.svg' alt='Pinterest'%}" class="w-5 h-5 mr-1"><a href=# class="text-[#445e35] text-lg font-libertinus-regular hover:text-gray-900 hover:text-xl hover:font-bold transition duration-500">Pinterest</a>
                    </li>
                </ul>
            </div>
            <div class="w-full lg:w-1/3 xl:w-1/3 p-2">
                <h5 class="text-lg text-[#203329] font-libertinus-bold mb-4">CONTACTO</h5>
                <p class="text-[#445e35] font-libertinus-bold mb-5">Correo electrónico: <a href="mailto:info@example.com" class="text-[#445e35] text-lg font-libertinus-regular hover:text-gray-900 hover:text-xl transition duration-300">info@example.com</a></p>
                <a href="{% url 'about_us' %}" class="text-lg text-[#203329] font-libertinus-bold py-8">ACERCA DE NOSOTROS</a>
            </div>
        </div>
        <div class="text-center mt-6">
            <p class= "font-tangerine-bold text-2xl text-[#203329]">&copy; Desarrollado por Script7. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
{% endblock content%}