<div class="container mx-auto max-w-7xl px-4">
    <nav class="sticky top-0 bg-[#F6F2E6]">
        <ul class="md:flex items-center space-x-8 mt-4 text-lg text-[#445e35] font-libertinus-bold">
            <li><a href="{% url 'home' %}">Inicio</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'user:user_profile' %}">Perfil</a></li>

                {% if user.is_collaborator or user.is_staff %}
                    <li><a href="{% url 'post:post_create' %}">Publicar</a></li>
                {% endif %}

                <li>
                    <form method="POST" action="{% url 'user:auth_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="text-[#203329]
                         hover:underline">Cerrar Sesión</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'user:auth_login' %}">Iniciar Sesión</a></li>
                <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
