 <div class ="container mx-auto max-w-7xl px-4"> 
    <nav class="sticky bg-[#F6F2E6] align-middle mr-15">
                <ul class="hidden md:flex items-center space-x-8 font-medium">
                    {% if user.is_authenticated %}
                       <li><a href="{% url 'home' %}">Inicio</a></li>
                       <li><a href="{% url 'user:user_profile' %}">Perfil</a></li>
                       <form method="POST" action = "{% url 'user:auth_logout' %}">
                           {% csrf_token %}
                           <button type="submit">Cerrar Sesión</button>
                         </form>
                        {% if user.is_collaborator %}
                           <li><a href="{% url 'post:post_create' %}">Publicar</a></li>
                        {% endif %}
                    {% else %}
                       <li><a href="{% url 'home' %}">Inicio</a></li>
                       <li><a href="{% url 'user:auth_login' %}">Iniciar Sesión</a></li>
                       <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
                <div class="flex items-center space-x-4">
                <button class="bg-spa-green text-white w-8 h-8 flex items-center justify-center rounded-md">
                    <!-- Menú hamburguesa para móvil -->
                <button class="md:hidden text-spa-dark">
                   <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
                </button>
             </div>
        </div>
    </nav>
</div>